@import "../config/reset";
@import "../config/colors";
@import "../config/breackpoints";
@import "../config/colors";
@import "../config/mixins";

.products {
	width: 100%;
	background-color: var(--background);
	flex-direction: column;
	&__form {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 20px;
		gap: 2rem;
		background-color: var(--background);
		color: var(--text-primary);
		&__filter {
			width: 30%;
			display: flex;
			align-items: center;
			position: relative;
			&-title {
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				list-style: none;

				&:hover {
					cursor: pointer;
				}
			}
			&__icon {
				transition: rotate 0.2s ease-in;
				rotate: 0deg;
				&-rotate {
					rotate: 180deg;
				}
			}
			&__list {
				position: absolute;
				z-index: 50;
				top: 50px;
				box-shadow: 0 0 3px gray;
				list-style: none;
				transition: 0.2s ease-in;
				border-radius: 10px;
				overflow: hidden;
				visibility: hidden;
				opacity: 0;

				&-open {
					visibility: visible;
					opacity: 1;
				}
				&__item {
					display: block;
					font-size: 0.9em;
					line-height: 2.3;
					padding: 0 30px;
					text-decoration: none;
					font-weight: 300;

					color: var(--text-primary);
					background-color: var(--background);

					&:hover {
						background: var(--background-footer);
						// color: var(--text-primary);
					}
				}
			}
		}
		&__search {
			width: 60%;
			display: flex;

			&-input {
				width: 100%;
				height: 40px;

				background-color: var(--background);
				color: var(--text-primary);
				padding: 10px;
				font-size: 0.9em;
				border: 1px solid gray;
			}
			&-button {
				width: 50px;
				height: 40px;
				border: 1px solid gray;
				border-left: none;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--background);
				color: var(--text-primary);
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	&__list {
		background-color: var(--background);
		color: var(--text-primary);
		&__notfound {
			line-height: 40px;
			font-size: 0.8em;
			text-align: center;
			font-weight: 300;
		}
		&__content {
			display: grid;
			height: auto;
			grid-template-columns: repeat(4, 1fr);
			gap: 1em;
			padding: 3em 20px;

			@include tablet {
				grid-template-columns: 1fr 1fr;
				gap: 1em;

				padding: 1em;
			}
			&__card {
				width: 100%;
				border-radius: 10px;
				text-decoration: none;
				transition: 0.2s;
				@include box-shadow;

				&:hover {
					transform: translateY(-2px);
				}

				&-image {
					border-radius: 10px 10px 0 0;
					width: 100%;
					height: 250px;
					display: block;
					border-bottom: 1px solid rgba(#bbb, 0.2);
					object-fit: scale-down;
					background-color: #fff;
					// transition: all 0.2s;
					@media screen and (max-width: 700px) {
						height: 170px;
					}
				}

				&:hover > .products__list__content__card-image {
					filter: brightness(80%);
				}

				&__text {
					width: 1fr;
					padding: 10px 20px;
					//background-color:yellow;
					display: flex;
					flex-direction: column;
					justify-content: center;
					border-radius: 0 0 5px 5px;

					&-brand {
						display: block;
						font-size: 0.8em;
						color: rgba(gray, 0.9);
						font-weight: 800;
					}
					&-title {
						display: block;
						margin: 5px 0;
						@include parraf;
					}

					&-price {
						display: block;
						color: #ca2f2f;
						font-size: 1.1em;
						font-weight: 700;
						font-style: italic;
					}
				}
			}
		}
	}
}
