:root {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	font-size: 14px;
}

// App
$app: #561493;
$app-title: #fff;
$sub-title: #6c63ff;
$background-footer: #2f2e41;

// Inputs
$input-border-color: rgba(black, 0.4);
$input-label-color: rgba(black, 0.6);
// Box Shadow
$box-shadow: #555;

// Buttons
$buttom-border-radius: 1rem;
$buttom-hover-color: #fff;
