$colorApp: #561493;
$colorSubTitulo: #6c63ff;
$colorOpaco: rgba(black, 0.6);
$colorOscuro: black;
$colorLabel: rgba(black, 0.6);
$colorInput: rgba(black, 0.4);
$parrafoClaro: rgba(128, 128, 128, 1);
$fondoFooter: #2f2e41;
$colorFondo: #101010;
$colorClaro: white;

$color1: #8a2be2;
$activo: #2ea043;
$espera: #e3b341;
$error: #e54304;

// $color2: #42035a;
$colorTexto: rgba(black, 0.6);
