@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

.error-alert {
	width: 100%;
	font-size: 0.9em;
	color: #611a15;
	background-color: #fdecea;
	background-image: url("http://localhost/proyecto_pagina_web/svg/error-alert.svg");
	background-position: 5% 46%;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	text-align: center;
	font-weight: 300;
	padding: 7px;
	border-radius: 3px;
	animation: aparecer 0.5s;
	padding: 7px 10px 7px 50px;
}

.info-alert {
	width: 100%;
	font-size: 0.9em;
	color: #0d3c61;
	background-color: #e8f4fd;
	background-image: url("http://localhost/proyecto_pagina_web/svg/info-alert.svg");
	background-position: 5% 46%;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	text-align: center;
	font-weight: 300;

	border-radius: 3px;
	animation: aparecer 0.5s;
	padding: 7px 10px 7px 50px;
}

.warning-alert {
	width: 100%;
	font-size: 0.9em;
	color: #663c00;
	background-color: #fff4e5;
	background-image: url("http://localhost/proyecto_pagina_web/svg/warning-alert.svg");
	background-position: 5% 46%;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	text-align: center;
	font-weight: 300;
	border-radius: 3px;
	animation: aparecer 0.5s;
	padding: 7px 10px 7px 50px;
}

.success-alert {
	width: 100%;
	font-size: 0.9em;
	color: #1e4620;
	background-color: #edf7ed;
	background-image: url("http://localhost/proyecto_pagina_web/svg/success-alert.svg");
	background-position: 5% 46%;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	text-align: center;
	font-weight: 300;
	padding: 7px;
	border-radius: 3px;
	animation: aparecer 0.5s;
	padding: 7px 10px 7px 50px;
}

@keyframes aparecer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
