@import "./config/reset";
@import "./config/colors";
@import "./config/fuentes";
@import "./config/mixins";
@import "./config/breackpoints";
@import "./config/containers";

.header {
	width: 100%;
	display: flex;
	height: 60px;
	z-index: 1;
	align-items: center;
	@include box-shadow;

	&__logo {
		width: 20%;
		min-width: 170px;
		display: flex;
		height: 60px;
		align-items: center;
		justify-content: center;

		@include tablet {
			width: 35%;
		}

		&__title {
			color: var(--text-primary);
			font-family: Audiowide, sans-serif;
			font-size: 1.7rem;
		}
	}
	&__menu {
		width: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 60%;
		height: 60px;
		background-color: var(--background);
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		@include tablet {
			position: absolute;
			z-index: -40;
			width: 100%;
			height: auto;
			top: 60px;
			left: 0;
			justify-content: start;
			flex-direction: column;
			transform: translateY(-400px);
			opacity: 0;
			&-open {
				transform: translateY(0px);
				opacity: 1;
			}
		}

		&__item {
			width: 100%;
			text-align: center;
			text-decoration: none;
			color: var(--text-primary);
			font-weight: 400;

			@include tablet {
				padding: 20px;
				@include box-shadow;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		&-icon {
			// background-color: var(--background);
			color: var(--text-primary);
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 7px 20px;
			cursor: pointer;
		}
	}

	&__login {
		width: 10%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@media screen and (max-width: 700px) {
			width: 40%;
			margin-left: auto;
		}

		&__buttom {
			// @include buttom-outline;
		}
	}
	&__user {
		width: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;

		@media screen and (max-width: 700px) {
			width: 15%;
		}

		&__photo {
			width: 40px;
			height: 40px;
			border-radius: 50%;

			object-fit: cover;
			transition: all 0.5s;

			&:hover {
				//-webkit-box-shadow: 0px 0px 12px 1px rgba(125,119,125,1);
				//-moz-box-shadow: 0px 0px 12px 1px rgba(125,119,125,1);
				box-shadow: 0px 0px 12px 1px rgba(gray, 0.7);
				cursor: pointer;
			}
		}
	}

	&__carrito {
		width: 10%;
		height: 60px;
		display: flex;

		justify-content: center;
		align-items: center;
		margin-left: auto;

		@media screen and (max-width: 700px) {
			width: 15%;
		}

		&__icon {
			position: relative;
			display: flex;
			align-items: center;
			color: #000;
			text-decoration: none;
			font-size: 1.3em;
		}

		&__notificacion {
			position: absolute;
			top: -5px;
			right: -7px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #f73c57;

			text-align: center;
			color: white;
			font-size: 0.5em;
			font-weight: 700;
			line-height: 1.38;
			box-shadow: 0 0 0 1px white;
		}
	}

	&__menu1 {
		width: 100%;
		position: absolute;
		top: 60px;
		width: 300px;
		// right: -400px;
		right: 0;
		background-color: #212327;

		display: flex;
		flex-direction: column;

		border: 0.3px solid rgba(white, 0.2);

		&__item {
			width: 100%;
			text-decoration: none;
			color: rgba(white, 0.3);
			transition: all 0.7s;
			display: block;
			text-align: center;
			line-height: 4;
			font-weight: 300;
		}
	}

	&__theme {
		background-color: var(--text-primary);
		border: none;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		padding: 10px;
		cursor: pointer;
	}
}

.padding__header {
	padding-bottom: 60px;
}
